<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fraser.floatingbuttonprototype">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/padlock"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Model.HeadService"
            android:exported="false" />

        <activity android:name=".Activities.FloatingActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog">

        </activity>

        <activity
            android:name=".Activities.DetailedViewActivity"
            android:screenOrientation="portrait" />

        <activity
        android:name=".Activities.EditAuthenticationActivity"
        android:windowSoftInputMode="adjustPan"
        android:screenOrientation="portrait"/>

        <activity android:name=".Activities.SendDataActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>